include ./layout/head 
body 
    include ./layout/header 
    main
        .testimoniales
         .testimoniales-items-container.section-header
            h2 Testimoniales
         #scrollx.testimoniales-items-container
          each testimonio in arrayTestimonios
            .testimoniales-item
                .testimoniales-item-quoteimg
                    img(src='../img/quoteRed.png' alt='')
                .testimoniales-item-descripcion
                    span=testimonio.descripcion
                .testimoniales-item-autor
                    span=testimonio.autor
        .banner-spliter
            .banner-spliter-text
             span &iexcl;Escribe tu propio testimonio!
        form(action="/testimonios" method="POST").form-testimonio
            .form-testimonio-item
                label(for='nombre') Ingresa tu nombre
                input#nombre(type='text' placeholder='Natalia' name="nombre")
            .form-testimonio-item
                label(for='correo') Ingresa tu correo
                input#correo(type='email' placeholder='natalianatalia@hotmail.com' name="correo")
            .form-testimonio-item
                label(for='mensaje') Mensaje
                textarea#mensaje(type='text' placeholder='¡Increible!' name="mensaje")
            .form-testimonio-botonera
             button(id="btn-reg-testimonio" type="submit") Enviar testimonio
    footer.footer
        //
        <script src="/js/testimonios/testimonios.js" type="module"></script>   