header
  .header-navbar.main-color
    .header-items-container.no-p
      .logo
       a(href="/inicio")
         img(src='../img/logoBlancoMin.png' alt='')
      ul
        a(href='/inicio')
          li INICIO
        a(href='/nosotros')
          li NOSOTROS
        a(href='/viajes')
          li VIAJES
        a(href='/testimonios')
          li TESTIMONIALES

block header